<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <label for="firstName">First Name:</label>
    <input id="firstName" type="text" formControlName="firstName">

    <label for="lastName">Last Name:</label>
    <input id="lastName" type="text" formControlName="lastName">

    <label for="price">Price:</label>
    <input id="price" type="text" formControlName="price">

    <label for="category">Category:</label>
    <input id="category" type="text" formControlName="category">

</form>

<p>Complete the form to enable button.</p>
<button type="submit" [disabled]="!profileForm.valid">Submit</button>


<p>profile-editor works!</p>
