<p>reactive-forms works!</p>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form [formGroup]="productForm" (ngSubmit)="save()">
                <div>
                    <h3>Form Properties</h3>
                </div>

                <div class="mb-3">
                    <label class="form-label">Name:</label>
                    <input formControlName="name" type="text" class="form-control">
                    <div class="form-text text-danger">
                        <div *ngIf="isInvalid('name')">
                            <div *ngIf="isInvalidControl('name', 'required')">
                                Product name is required.
                            </div>
                            <div *ngIf="isInvalidControl('name', 'minlenght') || isInvalidControl('name', 'maxlenght')">
                                Product name must be at least 5 characters.
                            </div>
                        </div>
                    </div>
                    <div *ngIf="false">
                        <h3>Product Name Properties</h3>
                        <ul>
                            <li>Value: {{ productForm.get("name")?.value | json }}</li>
                            <li>Valid: {{ productForm.get("name")?.valid }}</li>
                            <li>Invalid: {{ productForm.get("name")?.invalid }}</li>
                            <li>Errors: {{ productForm.get("name")?.errors | json }}</li>
                            <li>Touched: {{ productForm.get("name")?.touched }}</li>
                            <li>Untouched: {{ productForm.get("name")?.untouched }}</li>
                            <li>Dirty: {{ productForm.get("name")?.dirty }}</li>
                            <li>Pristine: {{ productForm.get("name")?.pristine }}</li>
                    </ul>
                </div>
            </div>
            
            <div class="mb-3">
                <label class="form-label">Price:</label>
                <input formControlName="price" type="text" class="form-control"/>
            </div>

            <div class="mb-3">
                <label class="form-label">Stock:</label>
                <input formControlName="stock" type="text" class="form-control">
            </div>
            <div>
                <select formControlName="category" class="form-select">
                    <option value="">Choose</option>
                    <option value="{{ category.id }}" *ngFor="let category of catogoryMenuList">
                        {{ category.text }}
                    </option>
                </select>

                <div class="form-text text-danger">
                    <div *ngIf="isInvalid('category')">
                        <div *ngIf="isInvalidControl('category', 'required')">
                            Please choose a category!
                        </div>
                    </div>
                </div>
            </div>
            
            <div *ngFor="let publish of publishMenulist">
                <div class="form-check">
                    <input formControlName="publish" class="form-check-input" type="radio" value="{{ publish.id }}" />
                    <label class="form-check-label" for="flexRadioDefault1">
                        {{ publish.text }}
                    </label>
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
